<% @sitters.each do |sitter| %>
  <h2>Nombre: <%= sitter.user.first_name %></h2>
  <p>Disponibilidad <%= sitter.start_date %> - <%= sitter.end_date %></p>
  <%= link_to "View sitter details", sitter_path(sitter) %>
  <%= link_to "Book plant sitter", new_sitter_booking_path(sitter) %>
<% end %>
