<h2>My sitters</h2>
<% @sitters.each do |sitter| %>
  <h2>Nombre: <%= sitter.user.first_name %></h2>
  <p>Disponibilidad <%= sitter.start_date %> - <%= sitter.end_date %></p>
  <%= link_to "View sitter details", sitter_path(sitter) %>
  <% if sitter.user == current_user %>
    <%= link_to "delete availability", "#" %>
  <% end %>
<% end %>
