<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <% if @sitter.photo.attached? %>
              <%= cl_image_tag @sitter.photo.key, style:"height:300px;width:300px" %>
            <% elsif @sitter.user.photo.attached? %>
              <%= cl_image_tag @sitter.user.photo.key, style:"height:300px;width:300px" %>
            <% else %>
              <%= image_tag "https://media.istockphoto.com/vectors/aloe-vera-in-doodle-style-cute-cartoon-plant-in-pot-colorful-vector-vector-id1354593962?k=20&m=1354593962&s=612x612&w=0&h=y4zu6MSY3yNT3cWMV1dDhAijUYJBl0uvH8YDl8fLWmU=", style:"height: 300px;width:300px;" %>
            <% end %>
            <div class="content ms-3">
              <h2><%= @sitter.user.first_name%> <%= @sitter.user.last_name%></h2>
              <h3><%= @sitter.city %></h3>
              <p><%= @sitter.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <h3>Puedo cuidar tus plantas entre</h3>
        </div>
        <div class="card-body">
          <h3><b><%= @sitter.start_date %></b> y</h3>
          <h3><b><%= @sitter.end_date %></b></h3>
          <%= link_to "Agéndame", new_sitter_booking_path(@sitter), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <% if Sitter.where(user: @sitter.user).count > 1 %>
  <hr>
    <h2>Este cuidador también está disponible en estas fechas</h2>
     <% Sitter.where(user: @sitter.user).each do |sitter| %>
        <% unless sitter == @sitter %>
          <ul>
            <li><h4>Disponibilidad <%= sitter.start_date %> - <%= sitter.end_date %> <%= link_to "Ver detalle", sitter_path(sitter), class: "btn btn-primary" %>
            <%= link_to "Agendar", new_sitter_booking_path(sitter), class: "btn btn-primary" %></h4>
            </li>
          </ul>
        <% end %>
      <% end %>
  <% end %>
</div>
